@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.app {
  max-width: 600px;
  margin-left: 30%;
  margin-top: 3rem;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

img {
  max-width: 50%;
  max-height: 50%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 25%;
  align-content: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 10px;
  flex-grow: 1;
  min-width: 200px;
}

button[type="submit"] {
  background-color: #005bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 3rem;
}

button[type="submit"]:hover {
  background-color: #ff7a0d;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
}

.game-over {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.game-over h2 {
  font-size: 2rem;
  margin-top: 0;
}

.game-over p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.game-over button {
  background-color: #005bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-over button:hover {
  background-color: #005bff;
}
.score {
  font-size: 1.3rem;
  width: auto;
}
