@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e4e4e4;
    font-family: 'Arial';
  }
  
  div {
    box-sizing: border-box;
  }
  
  .quiz {
    width: 975px;
    margin: 0 auto;
    margin-top: 100px;
    
  }
  
  .question {
    background-color: #000;
    color: white;
    padding: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
  }
  
  .results {
    background-color: #fff;
    height: 350px;
    width: 450px;
    text-align: center;
    margin-left: 30%;
    border-radius: 20px;
  }
  
  .congratulations {
    background-color: #005bff;
    padding: 20px;
    font-size: 36px;
    color: #fff;
  }
  
  .results-info {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  
  .answer {
    width: 20%;
    background: #005bff;
    min-height: 70px;
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    align-items: center;
  }
  
  .answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    color: #fff;
    font-size: 18px;
  }
  
  .answer-letter {
    font-size: 30px;
    background-color: #005bff;
    color: #fff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .answer-text {
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 5px;
  }
  
  .correct-answer {
    background-color: #1ea55b;
  }
  
  .correct-answer .answer-letter {
    background: #1ea55b;
  }
  
  .wrong-answer {
    background-color: #dc0a0a;
  }
  
  .wrong-answer .answer-letter {
    background: #dc0a0a;
  }
  
  .next-button {
    margin: 0 auto;
    color: #fff;
    background: #000;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 75px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
  }

  .next-button:hover{
    color: #fff;
    background-color: #ff7A0D;
  }
  
  .score {
    background: #ff7A0D;
    color: #fff;
    font-size: 25px;
    width: 200px;
    margin: 0 auto;
    font-weight: 600;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .disabled-answer {
    pointer-events: none;
  }

  .ranking{
    font-size: 20px;
  }