.QUIZ {
  text-align: center;
}

.question-card {
  /* Center the div  */
  margin: 0 auto;
  margin-top: 2rem;

  /* Dimensions  */
  width: 92%; /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-image: url("../1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px;
  border-radius: 16px;
  color: wheat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.question-card ul {
  padding-top: 10px;
  font-family: calibri;
}

.question-card h1 {
  font-style: bold;
  padding-top: 0px;
  font-size: 25px;
  color: wheat;
}

.question-card h2 {
  font-family: calibri;
  font-size: 15px;
  color: #ff7a0d;
}

.QUIZ ul {
  list-style: none;
  color: wheat;
  font-style: oblique;
}

.QUIZ li {
  margin-top: 10px;
  background-color: #ff7a0dae;
  padding: 15px;
  border-radius: 20px;
  font-size: 23px;
}

.QUIZ li:hover {
  background-color: rgba(245, 222, 179, 0.872);
  color: #ff7a0dae;
  cursor: pointer;
}

.question-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8px;
}

/* Final Results  */

.result {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 100%; /* Can be in percentage also. */
  height: auto;
  margin-top: 0px;

  /* Visual  */
  background-image: url("../111.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 231px;
  color: wheat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.result h1 {
  font-weight: bold;
  font-size: 50px;
  color: #ff7a0dae;
  margin-top: -0px; /* Adjust the value to move it down */
}

.result h2 {
  font-weight: bold;
  font-size: 30px;
}
.result h3 {
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
}

.QUIZ button {
  background-color:  #ff7a0dae;
  border: 15px;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 3rem;
  font-weight: BOLD;
  border-radius: 24px;
}
