.App {
  text-align: center;
}

.binary-challenge {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game-container {
  margin: 30px;

  flex-direction: column;
  align-items: center; /* Center the elements horizontally */
}

.game-container h2 {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}
