@tailwind base;
@tailwind components;
@tailwind utilities;

.upskillingbox {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.noncoderbox {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

