@tailwind base;
@tailwind components;
@tailwind utilities;


<<<<<<< HEAD


=======
.noncoderbox {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}
>>>>>>> 59dddc42aa3bdb64ab11ea4b8756be8f4381fbec
